version: 2.1

executors:
  default:
    working_directory: ~/rest_api
    docker:
      - image: circleci/ruby:2.6.5
        environment:
          APP_ENV: test

commands:
  configure_bundler:
    description: Configure bundler
    steps:
      - run:
          name: Configure bundler
          command: |
            sudo gem update --system
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler:2.1.4
            bundle -v

  install_dependencies:
    description: Install dependencies
    steps:
      - run:
          name: Install bundle
          command: bundle install --binstubs

jobs:
  build:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - rest_api-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - rest_api-
      - configure_bundler
      - install_dependencies
      - save_cache:
          key: rest_api-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - persist_to_workspace:
          root: ~/
          paths:
            - ./rest_api

  test:
    executor: default
    steps:
      - checkout
      - configure_bundler
      - install_dependencies
      - run:
          name: Test API
          command: |
            bundle exec rspec spec

workflows:
  version: 2
  integration:
    jobs:
      - build
      - test:
          requires:
            - build
